include blocks/head
	block content
	
	include blocks/mixins
	include blocks/header
	.main
		aside.left-bar
			include blocks/countries
			.col.news-art
				include blocks/news
				include blocks/articles
		.content
			p.action Кипр. Подарок Афродиты +2%
			include blocks/content
			include blocks/static
	include blocks/footer