section.articles
	.row
		img.articles--img(src="img/articles.jpg", alt="")
		h3 статьи
	hr
- var x = 3;
div  
	ul.articles--list
		- for (var i=0; i<x; i++)
			li.articles--item
				p Безметалловая керамика становится доступнее
				a.articles--item__more(href="/") читать полностью
		a.all-news(href="") Все статьи

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>