+countries-detail([{
	name: 'Марокко',
	img: 'img/c-1.jpg',
	href: '/'
},{
	name: 'Турция',
	img: 'img/c-2.jpg',
	href: '/'
},{
	name: 'ОАЭ',
	img: 'img/c-3.jpg',
	href: '/'
},{
	name: 'Марокко',
	img: 'img/c-1.jpg',
	href: '/'
},{
	name: 'Турция',
	img: 'img/c-2.jpg',
	href: '/'
},{
	name: 'ОАЭ',
	img: 'img/c-3.jpg',
	href: '/'
},{
	name: 'Марокко',
	img: 'img/c-1.jpg',
	href: '/'
},{
	name: 'Турция',
	img: 'img/c-2.jpg',
	href: '/'
},{
	name: 'ОАЭ',
	img: 'img/c-3.jpg',
	href: '/'
},])