+countries([{
	name: 'Египет',
	href: '/'
}, {
	name: 'Греция',
	href: '/'
}, {
	name: 'Тунис',
	href: '/'
}, {
	name: 'Болгария',
	href: '/'
}, {
	name: 'Испания',
	href: '/'
}, {
	name: 'Черногория',
	href: '/'
}, {
	name: 'Тунис',
	href: '/'
}, {
	name: 'Кипр',
	href: '/'
}, {
	name: 'Болгария',
	href: '/'
}, {
	name: 'Испания',
	href: '/'
}, {
	name: 'ОАЭ',
	href: '/'
}, {
	name: 'Шри Ланка',
	href: '/'
}, {
	name: 'Хорватия',
	href: '/'
}, {
	name: 'Таиланд',
	href: '/'
}, {
	name: 'Чехия',
	href: '/'
}, {
	name: 'Израиль',
	href: '/'
}, {
	name: 'Иордания',
	href: '/'
}, {
	name: 'Мальдивы',
	href: '/'
}, {
	name: 'Доминикана',
	href: '/'
}, {
	name: 'Куба',
	href: '/'
}, {
	name: 'Мексика',
	href: '/'
}, {
	name: 'Индия',
	href: '/'
}, {
	name: 'Андорра',
	href: '/'
}, {
	name: 'Польша',
	href: '/'
}, {
	name: 'Словакия',
	href: '/'
}, {
	name: 'Венгрия',
	href: '/'
}, {
	name: 'Италия',
	href: '/'
}, {
	name: 'Индонезия',
	href: '/'
}, {
	name: 'Вьетнам',
	href: '/'
}, {
	name: 'Грузия',
	href: '/'
}, {
	name: 'Финляндия',
	href: '/'
}, {
	name: 'Австрия',
	href: '/'
}])