footer
    hr
    .footer
        .col.address
            p
                | Москва 101000,
                br
                | метро павелецкая, ул. Новаторов дом
                br 
                | 22стр. 1, 2 этаж офис 9
            a(href="/") Как нас найти
            img.count(src="img/count.jpg", alt="")
        .col.work
            p Работаем по будням с 10.00 до 19.00
            a.tel(href="tel: 84959802165") (495) 980-21-65
            a.tel(href="tel: 84959012136") (495) 901-21-36
            a.mail(href="email:info@stroyinfo.ru") info@stroyinfo.ru
        .col.copy
            a(href="www.woyag.ru") 
                | www.woyag.ru
                br  
            p Сайт туроператора
            p.sitename © 2000-2014 “Вояж”
script(src="http://code.jquery.com/jquery-3.3.1.min.js")
script(src="js/app.js")