section.parallax
	a(href="tel:8945987452").gradient
		| Звоните:
		br
		| +7 945 987 452
		//Специально поставил здесь такой эффект, т.к. в исходнике текст сливается с фоном
	a(href="/").logo
		h1 вояж
		p тур оператор
	img.parallax--img(src="img/bg-0.jpg", alt="sky")
	.parallax--l-1
		img.parallax--img(src="img/l-1.png", alt="")
	.parallax--l-2
		img.parallax--img(src="img/l-2.png", alt="")
	.parallax--l-3
		img.parallax--img(src="img/l-3.png", alt="")
	.parallax--overlay

+top-nav([{
	name: 'Куда поехать',
	href: '/'
}, {
	name: 'Туристам',
	href: '/'
}, {
	name: 'Открыть агентство',
	href: '/'
}, {
	name: 'О компании',
	href: '/'
}, {
	name: 'Где купить',
	href: '/'
}, {
	name: 'Калькулятор',
	href: 'javascript:void(0)',
	onclick: 'calc("Калькулятор", "red")'
}])