.float
	&__left
		float left !important
	&__right
		float right !important
	&__clear
		clear both !important
	
.text
	&__left
		text-align left !important
	&__right
		text-align right !important
	&__center
		text-align center !important
	&__justify
		text-align justify !important
	&__underline
		text-decoration underline !important
	&__uppercase
		text-transform uppercase !important
	&__no-decoration
		text-decoration none !important
	&__bold
		font-weight bold !important
	&__normal
		font-weight normal !important
	
.flex
	display flex !important
	&__y-center
		align-items center !important
	&__y-top
		align-items flex-start !important
	&__y-bottom
		align-items flex-end !important
	&__x__left
		justify-content flex-start !important
	&__x__right
		justify-content flex-end !important
	&__x__between
		justify-content space-between !important
	&__x__around
		justify-content space-around !important
	&__x__center
		justify-content center !important 